.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3A5541;
    color: white;
    height: 10vh;
    padding: 0 15px;
    .currency-table {
        display: flex;
        align-items: center;
    }
    h2 {
        margin: 0;
    }
}
