:host {
    height: 90vh;
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    div {
        display: flex;
        justify-content: space-around;
        width: 90vw;
        gap: 10px;
        @media screen and (min-width: 900px) {
            width: 50vw;
        }
        &.currencies {
            mat-label {
                height: 2em;
            }
            mat-select {
                height: 2em;
            }
        }
    }
}