<form [formGroup]="currencyForm" class="container">
    <div class="inputs">
        <mat-form-field>
            <mat-label>Обмінюю</mat-label>
                <input type="text" [value]="this.giveCalculatedValue" formControlName="giveAmount" name="give-amount" matInput placeholder="0">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Отримую</mat-label>
            <input type="text" [value]="this.receiveCalculatedValue" (input)="onInput()" formControlName="receiveAmount" name="receive-amount" matInput placeholder="0">
        </mat-form-field>
    </div>
    
    <div class="currencies">
        <mat-form-field>
            <mat-label>Обмінюю</mat-label>
            <mat-select formControlName="giveCurrency" name="give-currency">
                @for (rateItem of this.exchangeRates; track rateItem.ccy) {
                    <mat-option [value]="rateItem.ccy">{{rateItem.ccy}}</mat-option>
                  }
            </mat-select>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Отримую</mat-label>
            <mat-select formControlName="receiveCurrency" name="receive-currency">
                @for (currency of this.exchangeRates; track currency.ccy) {
                    <mat-option [value]="currency.ccy">{{currency.ccy}}</mat-option>
                  }
            </mat-select>
        </mat-form-field>
    </div>
</form>